.p-cfpform.Flex5 {
display: flex;
flex-direction: column;
align-items: stretch;
row-gap: 10px;
margin-left: 10px;
}
.p-cfpform.Div1 {
margin-bottom: ;
}
.p-cfpform.Div2 {
margin-bottom: ;
}
.p-cfpform.Div3 {
margin-bottom: ;
}
.p-cfpform.Flex9 {
display: flex;
justify-content: space-between;
border-width: 2px;
border-style: solid;
border-color: #ea0c0c;
background-color: #020202;
height: 40px;
min-height: 30px;
max-height: 40px;
color: #ffffff;
}
.p-cfpform.Flex8 {
display: flex;
row-gap: ;
align-items: center;
}
.p-cfpform.Div4 {
margin-left: 10px;
margin-top: 10px;
}
.p-cfpform.TextBox6 {
;
}
.p-cfpform.TextBox7 {
;
}
.p-cfpform.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-top: 10px;
}
.p-cfpform.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-top: 10px;
}
.p-cfpform.TextBox8 {
;
}
.p-cfpform.TextBox9 {
;
}
.p-cfpform.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-top: 10px;
}
.p-cfpform.TextBox11 {
background-color: ;
color: #ffffff;
font-size: ;
align-self: center;
}
.p-cfpform.Link7 {
;
}
.p-cfpform.Link8 {
padding-left: 10px;
padding-right: 10px;
}
.p-cfpform.Link9 {
padding-right: 10px;
}
.p-cfpform.Button3 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-left: 10px;
}
.p-cfpform.Button4 {
color: #fff;
background-color: #1890ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
}
